.slider-container{
    position: relative;
    height: 250px;
    width: 300px;
}
.angebot_werbemittel{
    float: left;
    position: relative;
    height: 250px;
    width: 300px;
    background: black;
    overflow: hidden;
}
.angebot_title{
    width: 100%;
    height: 50px;
    color: white;
    /* Center vertically */
    position: absolute;
    left: 10%;
    top: 50%;
    z-index: 1000;
}
.angebot_visual{
    position: relative;
    height: 100%;
}
.angebot_AdminWrapper{
    position: relative;
    height: 260px;
}

.angebot_adminActions{
    margin-top: 10px;
    margin-left: 10px;
}

.angebot_adminHandler{
    float: left;
}
.angebot_adminDetails{
    margin-left: 10px;
}
.angebot_adminDetailsTitel{
    margin-left: 10px;
}
table, th, td {
    border: 1px solid black;
}
.newLineWerbemittelAdmin{
    clear: both;
    display: block; position: relative;
    float: left;
}